<html>
    <body>
        <form action="/predict" method="post" enctype="multipart/form-data">
        <div>
            <h2>Which product do you want to check?</h2>
            <input type="radio" id="bangle" name="product" value="BANGLE" required>BANGLE
        </div>
        
        <hr>

        <div>
            <h2>Select from demo images : </h2>
            <table border="1.5">
            <tr>
                <td align="center"><h3>Image 1 </h3></td>
                <td align="center"><h3>Image 2 </h3></td>
                <td align="center"><h3>Image 3 </h3></td>
            </tr>
            <tr>
                <td><img src="static/default_img1.jpg" width="350" height="350"></td>
                <td><img src="static/default_img2.jpg" width="350" height="350"></td>
                <td><img src="static/default_img3.jpg" width="350" height="350"></td>
            </tr>
        </table>
                
            <br>
            <h3>Which image do you want to select?:</h3>
            <input type="radio" id="img" name="img_type" value="default_img1.jpg" >Image 1
            <input type="radio" id="img" name="img_type" value="default_img2.jpg" >Image 2
            <input type="radio" id="img" name="img_type" value="default_img3.jpg" >Image 3
        </div>
       
        <hr>
        <h2>
            OR upload your own image : 
        </h2>
        <div>
            <h2>Upload image : <input type="file" id="file" name="img"></h2>
            <input type="submit" >
        </div>

    </form>
    </body>
</html>